* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#date-container {
  margin-top: 50px;
}
#clock-container {
  margin-top: 30px;
}
#wiseSaying-container {
  margin-top: 30px;
  padding: 5px;
  border: 3px solid #000;
  border-radius: 10px;
  background-color: #000;
}
#wiseSaying-container h3:first-child {
  color: #fff;
}
#wiseSaying-container h3:last-child {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
#lottoNum-container {
  margin-top: 30px;
}
